body {
    font-family:  Georgia;
}
.gora, .gora2 {
    background-color: rgb(197, 85, 160);
    text-align: center;
    width: 50%;
    height: 180px;
    float: left;
}
.baner, .stopka {
    background-color: rgb(246, 226, 222);
    text-align: center;
    height: 100px;
    padding: 10px;
    float: left;
    width: 100%;
}
.lewy, .prawy {
    color: white;
    background-color: rgb(197, 85, 160);
    width: 50%;
    height: 400px;
    float: left;
}
.gora2 a {
    padding: 0 70px 120px 0;
    font-size: 150%;
    text-decoration: none;
}
table, td {
    border: 2px dashed #3CB371 ;
    margin: 20px;
    padding: 10px;
}
h1 {
    letter-spacing: 10px;
    font-size: 200%;
}
