.kamien { 
           
    background-image: url(./gotowe11.png);

}
.papier {
    
    background-image: url(./gotowe3.png);
   
}
.nozyce {

    background-image: url(./gotowe2.png);
}
.gameboard{ 
    text-align: center;
}
.panel_lewy, .panel_prawy{ 
    width:50%;
    float:left;
    color:pink;
}
.opcja1, .opcja2 {
   width: 361px; 
   height: 348px;

display: inline-block;
}
.btn.losuj  {
    background-image: url(./HIU.png);
    width: 209px; 
    height: 226px;
}
body {
    background-image: url(./1234.png);
    height: auto;
    width: auto;
}