body{
    font-family: Verdana, sans-serif;
}
.naglowek, .stopka{
    background-color: #4682B4;
    color: white;
    padding: 20px;
    font-size: 120%;
    text-align: center;
}
.blok_lewy, .blok_prawy{
    float: left;
}
.blok_lewy {
    background-color: #40E0D0;
    width: 40%;
    height: 500px;
}
.blok_prawy{
    background-color: #40E0D0;
    width: 60%;
    height: 500px;
}
img {
    padding: 5px;
    margin: 10px;
    border: 1px solid #000080;
}