body {
    font-family: Tahoma;
}
table > tr > td:nth-child(2) {
    width: 405px;
}
a {
    color: #ffd87e;
}
.baner, .panel_lewy, .stopka {
    background-color:  #af8c4b;
}
.panel_lewy {
    text-align: right;
    float: left;
    width: 30%;
    height: 500px;
}
.baner {
    background-color: #af8c4b;
    text-align: center;
    height: 60px;
}
.panel_prawy {
    background-color: #ffd87e;
    float: left;
    width: 70%;
    height: 500px;
    overflow : scroll;
}
hr {
    color:  #ffd87e;
}
.stopka {
    clear: both;
    height: 25px;
    text-align: center;
}
ul li {
    list-style-type: circle;
    
    
}
table td {
    border: 1px dashed black;
}
ul {
    overflow: hidden;
}
li {
    color: #ffd87e;
    float: right;
    clear: right;
}