body {
    font-family: Arial;
}
.lewy, .prawy {
    background-color: rgb(255, 127, 80);
    color: white;
    width: 50%;
    height: 410px;
    float: left;
}
.baner, .glowny {
    background-color: rgb(220, 220, 220);
    padding: 20px;
    text-align: center;
}
.stopkal, .stopkap {
    background-color: rgb(255, 127, 80);
    color: white;
    width: 50%;
    height: 100px;
    float: left;
}
table, td {
    border: 1px solid rgb(255, 127, 80) ;
    padding: 10px;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
a {
    color: white;
}