body {
    font-family:  Helvetica;
}
.gora, .gora2 {
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: left;
}
.baner, .stopka {
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
    float: left;
    width: 100%;
}
.lewy, .prawy {
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: left;
}
.gora2 a {
    padding: 0 30px 120px 0;
    font-size: 150%;
    text-decoration: none;
}
table, td {
    border: 2px green;
    margin: 30px;
    padding: 20px;
}
h1 {
    letter-spacing: 20px;
    font-size: 250%;
}
#kolor {
    width: 200px;
    height: 150PX;
}