.baner {
    background-color: #3A7AD9;
    height: 50px;
    text-align: center;
}
.panel_lewy{
    background-color: #5D93E2;
    height: 400px;
    width: 30%;
    float: left;
}
.panel_prawy{
    background-color: #88B0EC;
    height: 400px;
    width: 70%;
    float: left;
}
.stopka{
    background-color: #3A7AD9;
    text-align: right;
}