body {
    font-family: Tahoma;
    color: white;
}
.b1, .b3, .b4 {
    background-color: #983713;
    width: 17%;
    height: 100px;
    text-align: center;
    float: left;

}
.b2 {
    background-color: #983713;
    width: 49%;
    height: 100px;
    text-align: center;
    float: left;
}
.lewy {
    background-color: #FF7F50;
    width: 80%;
    height: 500px;
    float: left;
}
.prawy {
    background-color: #FF7F50;
    width: 20%;
    height: 500px;
    float: left;
}
.stopka {
    background-color: #983713;
    text-align: right;
    
}
button {
    background-color: #D3D3D3;
    color: #2F2F2F;
    border: solid 2px #2F2F2F;
    margin: 5px;
    padding: 10px 30px 10px 30px;
    float: left;
}
input {
    color: orange;
}
h4 {
    color: white;
    text-decoration: underline white;
}