body {
    font-family: Verdana;
}
.baner, .stopka {
    background-color: rgb(205, 92, 92);
    color: white;
    text-align: center;
    padding: 5px;
}
.lewy, .prawy {
    background-color: rgb(250, 235, 215);
    height: 500px;
    width: 25%;
    float: left;
}
.srodek{
    background-color: rgb(250, 235, 215);
    height: 500px;
    width: 50%;
    float: left;
}
.blok{
    background-color: rgb( 210, 180, 140);
    color: white;
    clear: both;
    
}
h2 {
    text-align: center;
}
h2:first-letter {
    font-size: 150%;
}
img {
    height: 100px;
    padding: 7px;
}
img:hover {
    background-color: rgb(210, 180,140);
}