body {
    font-family: Helvetica;
}
.l1 {
    height: 400px;
    width: 100%;
    background-color: snow;
    text-align: center;
    float: left;
}
.l2 {
    height: 400px;
    width: 100%;
    background-color: snow;
    font-size: 150%;
    float: left;
    
}
.p1 {
    height: 150px;
    width: 100%;
    background-color: steelblue;
    color: white;
    text-align: center;
    float: left;
    
    
}
.p2 {
    height: 350px;
    width: 100%;
    background-color: steelblue;
    color: white; 
    float: left; 
}
.p3 {
    height: 300px;
    width: 100%;
    background-color: snow;
    text-align: center;
    float: left;
    
}
.stopka {
    background-color: steelblue;
    color: white;
    clear: both;
}
h2 {
    font-size: 250%;
}
img {
    margin: 4px;
    
}
img:hover {
    margin: 3px;
    border: 1px solid steelblue;
}
.lewy {
    width: 70%;
    float: left;
}
.prawy {
    width: 30%;
    float: left;
}