.baner {
    background-color: #993333;
    color: white;
    text-align: center;
    height: 80px;
}
.inf1, .inf2, .inf3, .inf4 {
    font-family: Tahoma;
    background-color: #CC6666;
    width: 25%;
    height: 150px;
    text-align: center;
    float: left;
}
.lewy, .prawy {
    background-color: #CC9999;
    width: 40%;
    height: 550px;
    float: left;
}
.srodek {
    background-color: #FFCCCC;
    width: 20%;
    height: 550px;
    float: left;
}
.stopka {
    background-color: #993333;
    color: white;
    text-align: right;
}
table {
    border: 1px dotted red;
    width: 100%;
}
td {
    text-align: center;
}
button {
    border: none;
    padding: 20px;
    background-color: red;
    color: white;
}