.t1, .t2, .t3 {
    text-align: center;
    font-size: 100px;
}
body {
    text-align: center;
    font-family: fantasy;
    background-image: url(https://i.imgur.com/yt52I7p.gif?noredirect);
}
.k1 {
    height: 100px;
    background-color: #e0b309ab;
    border: 5px solid #2f6db4;
    width: 100px;
}
.kom {
    color: #ffcb05;
    font-size: 30px;
    margin-left: 110px;
    margin-top: 20px;
    text-shadow: 2px 2px #1d2c5e;
}
.ilosc{
    color: #ffcb05;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px #1d2c5e;
}

.gra {
    float: right;
    color: #ffcb05;
    font-size: 20px;
    text-shadow: 2px 2px #1d2c5e;
}

.elo {
    color: #ffcb05;
    font-size: 20px;
    text-shadow: 2px 2px #1d2c5e;
    margin-left: 1150px;
}

.petarda {
    float: left;
}

.petarda2 {
    float: right;
}