body {
    font-family:arial;
    font-weight:400;
}
.panel {
    box-shadow: 0px 5px 15px -5px rgba(1,2,3,4.5);
    padding: 2.5%;
    width: 45%;
    background: #fff;
    margin: 25px auto;
}
    label {
        min-width:150px;
        display:inline-block;
}
h1 {
text-transform: uppercase;
font-weight: 300;
font-family: arial;
font-size: 1.75rem;
text-align: center;
}
input[type=text], input[type=password], input[type=date], input[type=email] {
width: 100%;
padding:4px;
}
input[type="submit"] {
    background: none;
    border: 1px solid black;
    padding: 10px 25px;
  
    display: inline-block;
    cursor: pointer;
    margin: 20px auto;
}
.uzytkownicy_panel {
    float: left;
    width: 100%;
    background: #eee;
}
.uzytkownicy_panel .panel {
    float: center;
}
.formularz_rejestracja {
    background: #e4ff00;
    float: left;
    width: 100%;
}
.naglowek_blue {
    color: #fff;
    background: #ef00ff69;
    margin: 0;
    padding: 20px 0;
    clear: both;
}
.naglowek_red {
    display: block;
    clear: both;
    background: #ef00ff69;
    padding: 20px;
    margin: 0;
    color: white;
}
.btn_danger { 
    background: #a62727  !important;
    border: 1px solid  !important;
    color: white  !important;
    font-weight: 700  !important;
}
.btn_success {
    background: #ef00ff69 !important;
    color: white  !important;
    border: 1px solid  !important;
    font-weight: 700  !important;
}
.row > div {
    float:left;
}
.wyszukaj th {
    background: #000;
    color: #fff;
}
.wyszukaj th, .wyszukaj td {
    border: 1px solid;
    padding: 15px;
    border-color: #cfcfcf;
}
.forularz_logowanie {
    margin:0 auto;
    display:block;
    width: 100%;
}
