body {
    font-family: Garamond;
}
.banerl, .banerp {
    background-color: RGB(95,158,160);
    color: yellow;
    width: 20%;
    height: 90px;
    text-align: right;
    float: left;
}
.baners {
    background-color: RGB(95,158,160);
    color: yellow;
    width: 60%;
    height: 90px;
    text-align: center;
    float: left;
}
.lewy, .prawy {
    background-color: RGB(175,238,238);
    width: 50%;
    height: 250px;
    float: left;
}
.glowny {
    background-color: RGB(95,158,160);
    padding: 30px;
}
.stopka {
    background-color: RGB(175,238,238);
    padding: 10px;
}
table {
    border: 2px dotted green ;
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 2px dotted green ;
}
th {
    border: 2px dotted green ;
    background-color: green;
    color: yellow;
}