body {
    font-family:Tahoma,;
}
.gl, .gp {
    background-color: rosybrown;
    color: white;
    width: 30%;
    height: 200px;
}
.gs {
    background-color: rosybrown;
    color: white;
    width: 40%;
    height: 200px;
    text-align: center;
}
.glowny {
    background-color: wheat;
    padding: 50px;
    
}
.stopka {
    background-color: rosybrown;
    color: white;
    padding: 5px;
    text-align: center;
}
a {
    border: 2px darkred;
    background-color: salmon;
    color: darkred;
    padding: 20px;
    line-height: 200px;
}
.gl, .gp, .gs {
    float: left;
}