body {
    font-family: Verdena;
}

.menu {
    background-color: sandybrown;
    height: 120px;
    width: 60%;
    float: left;
}

.logo {
    background-color: sienna;
    color: white;
    text-align: center;
    height: 120px;
    width: 40%;
    float: left;
}

.lewy {
    background-color: sienna;
    color: white;
    height: 700px;
    width: 60%;
    float: left;
}

.prawy {
    background-color: sandybrown;
    height: 700px;
    width: 40%;
    float: left;
}

.stopka {
    background-color: #4d1900;
    color: white;
    text-align: right;
    clear: both;
}

.menu a {
    background-color: green;
    color: yellow;
    padding: 20px 50px 20px 50px;
    line-height: 120px;
}

.menu a:hover {
    background-color: yellow;
    color: green;
}