.baner {
    background-color: #829EB9;
    height: 80px;
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    
}
.lewy {
    background-color: #B3C6D9;
    height: 500px;
    width: 25%;
    padding: 100px 0 0 0;
    text-align: center;
    font-size: 20px;
    float: left;
}
.prawy {
    background-color: #E0E9F1;
    height: 500px;
    width: 75%;
    padding: 100px 0 0 0;
    text-align: center;
    font-size: 20px;
    float: left;
}
.stopka {
    background-color: yellow;
    text-align: center;
    font-family: Arial;
    height: 50px;
    clear: both;
    
    
}
img {
    padding: 30px;
    margin: 10px;
}